name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@main
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: '5.03'

      - name: Pin
        run: opam pin -n .

      - name: Depext
        run: opam depext -yt ezcurl ezcurl-lwt

      - name: Deps
        run: opam install -d . --deps-only

      - name: Build
        run: opam exec -- dune build @doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/default/_doc/_html/
          destination_dir: .
          enable_jekyll: false
